@media (max-width: 24em) {
  body {
    background-color: var(--White);
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    gap: 0;
    margin: auto;
    padding: 0;
    border-radius: 0;
    inset: 0;
  }

  .side-bar {
    background-image: url("../images/bg-sidebar-mobile.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
    border-radius: 0;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .steps {
    grid-template-columns: repeat(4, 1fr);
  }
  .side-bar__step {
    align-items: center;
    justify-content: center;
  }

  .side-bar__step-text {
    display: none;
  }

  .side-bar__step-number {
    font-size: 1.2rem;
    padding: 0.6rem;
  }

  .form-data,
  .monthly_plan,
  .add-ons,
  .finishing {
    width: auto;
    height: 50%;
  }

  .plans {
    grid-template-columns: 1fr;
  }

  .plan {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    height: fit-content;
    gap: 2.4rem;
    align-items: center;
  }

  .pricing {
    display: flex;
  }

  .thank_you-box {
    width: auto;
  }
  .attribution {
    inset: 0;
  }
}
